/* Фон страницы */
html, body {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

.container-fluid {
    height: 100%;
    margin: auto;
    background: linear-gradient(315deg, #FAF7F0 3%, #D8D2C2 38%, #B17457 68%, #4A4947 98%);
    background-size: 400% 400%;
    background-attachment: fixed;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }

    50% {
        background-position: 100% 100%;
    }

    100% {
        background-position: 0% 0%;
    }
}

.wave {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 200%;
    height: 12em;
    opacity: 0.8;
    background: rgb(255, 255, 255 / 25%);
    border-radius: 1000% 1000% 0 0;
    z-index: 1;
    transform: translate3d(0, 0, 0);
    animation: wave 10s -3s linear infinite;
}

    .wave:nth-of-type(2) {
        bottom: -1.25em;
        opacity: 0.8;
        animation: wave 18s linear reverse infinite;
    }

    .wave:nth-of-type(3) {
        bottom: -2.5em;
        opacity: 0.9;
        animation: wave 20s -1s reverse infinite;
    }

@keyframes wave {
    2% {
        transform: translateX(1);
    }

    25% {
        transform: translateX(-25%);
    }

    50% {
        transform: translateX(-50%);
    }

    75% {
        transform: translateX(-25%);
    }

    100% {
        transform: translateX(1);
    }
}

/* Нав бар */
.nav_bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.2);
    padding: 10px 0;
    z-index: 2;
}

.nav_bar_list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.nav_bar_list_item {
    color: white;
    font-size: 18px;
    margin: 0 20px;
    cursor: pointer;
    transition: color 0.3s ease;
}

    .nav_bar_list_item a {
        color: white;
        text-decoration: none;
    }

    .nav_bar_list_item:hover {
        color: #B17457;
    }

/* Контент страницы */
.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 800px;
    text-align: center;
}

h1 {
    color: #4A4947;
    font-size: 36px;
    margin-bottom: 40px;
}

.authors {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.author {
    width: 45%;
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

    .author img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        margin-bottom: 20px;
    }

    .author h2 {
        color: #B17457;
        font-size: 24px;
        margin-bottom: 10px;
    }

    .author p {
        color: #4A4947;
        font-size: 18px;
        margin-bottom: 10px;
    }

    .author ul {
        list-style-type: none;
        padding: 0;
        text-align: left;
        margin-left: 20px;
    }

        .author ul li {
            color: #4A4947;
            font-size: 16px;
            margin-bottom: 5px;
        }

.enjoy {
    color: #4A4947;
    font-size: 30px;
    margin-top: 40px;
}

/* Кнопка "Попробовать" */
.try-button {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 15px 30px;
    background: linear-gradient(315deg, #ff1919 3%, #ff6666 38%, #ff9999 68%, #ffcccc 98%);
    background-size: 400% 400%;
    color: white;
    font-size: 18px;
    text-decoration: none;
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    animation: gradientButton 5s ease infinite;
    z-index: 1000
}

@keyframes gradientButton {
    0% {
        background-position: 0% 0%;
    }

    50% {
        background-position: 100% 100%;
    }

    100% {
        background-position: 0% 0%;
    }
}
