/*For whole page*/
* {
    list-style: none;
    margin: 0;
    padding: 0;
}

/*For header part*/
.header {
    height: 400px;
}

/*For navigation part*/
.nav {
    display: flex;
    justify-content: space-around;
    background-color: #181C14;
    height: 5rem;
    align-items: center;
}

.nav_list {
    width: 20%;
    display: flex;
    justify-content: space-between;
}

.nav_list_item_link {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.logo {
    display: flex;
    justify-content: center;
}

/*For Section Intro*/
.intro {
    width: 100%;
    background: url(/Images/Intro\ Time\ Managment.jpg) no-repeat center;
    height: 900px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.intro_content {
    background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный фон для текста */
    padding: 20px;
    border-radius: 10px;
}

.intro_title {
    font-size: 60px;
    margin-bottom: 20px;
}

.intro_description {
    font-size: 24px;
}

/*For Section intro_text*/
.intro_text {
    background-color: #3C3D37;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.intro_text_title {
    font-size: 50px;
    color: white;
    margin-bottom: 40px;
}

.collage p {
    color: black;
    font-size: 18px;
    font-weight: bold;
}

.collage {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: 0 auto;
}

.collage1, .collage2, .collage3 {
    width: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

    .collage1:hover, .collage2:hover, .collage3:hover {
        transform: scale(1.05);
    }

.bell, .clock, .calender {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

/*For Footer*/
footer {
    background-color: #181C14;
    color: white;
    padding: 20px 0;
    text-align: center;
}

.footer_content {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer_links a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-size: 18px;
}

.footer_images img {
    width: 100px;
    height: 100px;
    margin: 0 10px;
}
