/* Фон страницы */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
    height: 100%;
    margin: auto;
    background: linear-gradient(315deg, #65005e 3%, #3c84ce 38%, #30eee2 68%, #ff1919 98%);
    background-size: 400% 400%;
    background-attachment: fixed;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }

    50% {
        background-position: 100% 100%;
    }

    100% {
        background-position: 0% 0%;
    }
}

.wave {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 200%;
    height: 12em;
    opacity: 0.8;
    background: rgb(255, 255, 255 / 25%);
    border-radius: 1000% 1000% 0 0;
    z-index: 1;
    transform: translate3d(0, 0, 0);
    animation: wave 10s -3s linear infinite;
}

    .wave:nth-of-type(2) {
        bottom: -1.25em;
        opacity: 0.8;
        animation: wave 18s linear reverse infinite;
    }

    .wave:nth-of-type(3) {
        bottom: -2.5em;
        opacity: 0.9;
        animation: wave 20s -1s reverse infinite;
    }

@keyframes wave {
    2% {
        transform: translateX(1);
    }

    25% {
        transform: translateX(-25%);
    }

    50% {
        transform: translateX(-50%);
    }

    75% {
        transform: translateX(-25%);
    }

    100% {
        transform: translateX(1);
    }
}

/* Нав бар */
.nav_bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.2);
    padding: 10px 0;
    z-index: 2;
}

.nav_bar_list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.nav_bar_list_item {
    color: white;
    font-size: 18px;
    margin: 0 20px;
    cursor: pointer;
    transition: color 0.3s ease;
}

    .nav_bar_list_item:hover {
        color: #ff1919;
    }

/* Диалог */
.dialogue {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 600px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.message {
    background: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 10px;
    margin: 10px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transition: opacity 0.5s ease, transform 0.5s ease;
    width: 60%;
    max-width: 400px;
}

.left {
    text-align: left;
    align-self: flex-start;
    transform: translateX(-20px);
}

.right {
    text-align: right;
    align-self: flex-end;
    transform: translateX(20px);
}

.message.visible {
    opacity: 1;
    transform: translateX(0);
}

/* Кнопка "Попробовать" */
.try-button {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 15px 30px;
    background: linear-gradient(315deg, #ff1919 3%, #ff6666 38%, #ff9999 68%, #ffcccc 98%);
    background-size: 400% 400%;
    color: white;
    cursor: pointer;
    font-size: 18px;
    text-decoration: none;
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    animation: gradientButton 5s ease infinite;
    border: none;
    z-index: 1000
}

@keyframes gradientButton {
    0% {
        background-position: 0% 0%;
    }

    50% {
        background-position: 100% 100%;
    }

    100% {
        background-position: 0% 0%;
    }
}


