@{
    ViewData["Title"] = "Authors";
}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Montserrat:wght@400;700&family=Open+Sans:wght@400;700&family=Lato:wght@400;700&display=swap">
    <link rel="stylesheet" href="~/css/authors.css">
</head>
<body>
    <main>
        <section id="about" class="about">
            <div class="about_content">
                <div class="author">
                    <img src="/Images/author1.jpg" alt="Author 1" class="author_photo">
                    <h1 class="author_title">Vlad</h1>
                    <p class="author_description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
                <div class="author">
                    <img src="/Images/author2.jpg" alt="Author 2" class="author_photo">
                    <h1 class="author_title">Ilya</h1>
                    <p class="author_description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>
        </section>
        <section id="skills" class="skills">
            <div class="skills_content">
                <div class="author_skills">
                    <h2 class="skills_title">Vlad's Skills</h2>
                    <div class="skills_list">
                        <div class="skill">
                            <h3>HTML</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        </div>
                        <div class="skill">
                            <h3>CSS</h3>
                            <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                        <div class="skill">
                            <h3>JavaScript</h3>
                            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        </div>
                    </div>
                </div>
                <div class="author_skills">
                    <h2 class="skills_title">Ilya's Skills</h2>
                    <div class="skills_list">
                        <div class="skill">
                            <h3>dfsdgsdg</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        </div>
                        <div class="skill">
                            <h3>Pdsdgsdg</h3>
                            <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                        <div class="skill">
                            <h3>Ilsdgsdgsgd</h3>
                            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>

