@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../Style.css">
    <title>Illiada Project</title>
</head>
<body>
    <header>
        <div class="nav">
            <div class="logo"><img class="logo_img" src="~/Images/LogoProject1.jpg" alt="Logo Image"></div>
            <ul class="nav_list">
                <li class="nav_list_item"><a class="nav_list_item_link" href="#">Home</a></li>
                <li class="nav_list_item"><a class="nav_list_item_link" href="#">Authers</a></li>
                <li class="nav_list_item"><a class="nav_list_item_link" href="#">My table</a></li>
            </ul>
        </div>
    </header>
    <main>
        <section class="intro">
            <div class="intro_content">
                <h1 class="intro_title">Welcome to Illiada Project</h1>
                <p class="intro_description">Your time is your life. Manage it wisely.</p>
            </div>
        </section>
        <section class="intro_text">
            <h1 class="intro_text_title">YOUR LIFE IS YOUR TIME</h1>
            <div class="collage">
                <div class="collage1">
                    <img class="clock" src="~/Images/clock.webp" alt="Clock">
                    <p>Save your time</p>
                </div>
                <div class="collage2">
                    <img class="calender" src="~/Images/calender.jpg" alt="Calendar">
                    <p>Сalendar marks</p>
                </div>
                <div class="collage3">
                    <img class="bell" src="~/Images/bell.jpg" alt="Bell">
                    <p>Remember everything</p>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <div class="footer_content">
            <div class="footer_links">
                <a href="https://web.telegram.org/a/#1055217763" target="_blank">Telegram</a>
                <a href="tel:+1234567890">+375336303655</a>
            </div>
            <div class="footer_images">
                <img src="~/Images/footer_image1.jpg" alt="Footer Image 1">
                <img src="~/Images/footer_image2.jpg" alt="Footer Image 2">
            </div>
        </div>
    </footer>
</body>
</html>
