@{
    ViewData["Title"] = "Загрузка расписания";
}

<body>
    <!-- Диалог -->
    <div class="dialogue">
        <div class="message left">
            <p>Как часто ты тратишь время на поиск расписания?</p>
        </div>
        <div class="message right">
            <p>Очень часто! Иногда приходится искать его по несколько раз в день.</p>
        </div>
        <div class="message left">
            <p>Знаешь, есть решение! Наш сайт позволяет быстро загрузить и сохранить расписание.</p>
        </div>
        <div class="message right">
            <p>Действительно? Это звучит здорово! Как это работает?</p>
        </div>
        <div class="message left">
            <p>Просто загрузи свой файл с расписанием, и мы сделаем все остальное. Ты сможешь легко просматривать его в любое время.</p>
        </div>
        <div class="message right">
            <p>Отлично! Я обязательно попробую!</p>
        </div>
    </div>

    <!-- Кнопка "Попробовать" -->
    <a asp-controller="Home" asp-action="Tables" class="try-button">Попробовать</a>

    <script src="~/js/site.js"></script>
</body>