@{
    ViewData["Title"] = "Illiada Project";
}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../Style.css">
    <title>Illiada Project</title>
</head>
<body>
    <header>
        
    </header>
    <main>
        <section class="intro">
            <div class="intro_content">
                <h1 class="intro_title">Welcome to Illiada Project</h1>
                <p class="intro_description">Your time is your life. Manage it wisely.</p>
            </div>
        </section>
        <section class="intro_text">
            <h1 class="intro_text_title">YOUR LIFE IS YOUR TIME</h1>
            <div class="collage">
                <div class="collage1">
                    <img class="clock" src="~/Images/clock.webp" alt="Clock">
                    <p>Save your time</p>
                </div>
                <div class="collage2">
                    <img class="calender" src="~/Images/calender.jpg" alt="Calendar">
                    <p>Сalendar marks</p>
                </div>
                <div class="collage3">
                    <img class="bell" src="~/Images/bell.jpg" alt="Bell">
                    <p>Remember everything</p>
                </div>
            </div>
        </section>
    </main>
</body>
