@{
    ViewData["Title"] = "Illiada Project";
}

<body>
    <main>
        <section class="intro">
            <div class="intro_content">
                <h1 class="intro_title">Welcome to Illiada Project</h1>
                <p class="intro_description">Your time is your life. Manage it wisely.</p>
            </div>
        </section>
        <section class="intro_text">
            <h1 class="intro_text_title">YOUR LIFE IS YOUR TIME</h1>
            <div class="collage">
                <div class="collage1">
                    <form asp-controller="Import" asp-action="Index" method="post">
                        <button type="submit" style="border: none; background: transparent; cursor: pointer;">
                            <img class="clock" src="~/Images/clock.webp" alt="Clock">
                            <p>Save your time</p>
                        </button>
                    </form>
                </div>
                <div class="collage2">
                    <form asp-controller="Import" asp-action="Index" method="post">
                        <button type="submit" style="border: none; background: transparent; cursor: pointer;">
                            <img class="calender" src="~/Images/calender.jpg" alt="Calendar">
                            <p>Сalendar marks</p>
                        </button>
                    </form>
                </div>
                <div class="collage3">
                    <form asp-controller="Import" asp-action="Index" method="post">
                        <button type="submit" style="border: none; background: transparent; cursor: pointer;">
                            <img class="bell" src="~/Images/bell.jpg" alt="Bell">
                            <p>Remember everything</p>
                        </button>
                    </form>
                </div>
            </div>
        </section>
    </main>
</body>
