<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Montserrat:wght@400;700&family=Open+Sans:wght@400;700&family=Lato:wght@400;700&display=swap">
    <link rel="stylesheet" href="~/css/tables.css">
    <script src="~/js/import.js?v=1.0"></script>
</head>

<!-- Контент страницы -->
<div class="content">
    <h1>Загрузите Excel-документ</h1>
    <div class="upload-box">
        <!-- Скрытый input для выбора файла -->
        <input type="file" id="fileInput" accept=".xlsx, .xls" style="display: none;" />

        <!-- Пользовательская кнопка "Выбрать файл" -->
        <label for="fileInput" class="custom-file-upload">Выбрать файл</label>
    </div>

    <!-- Контроллеры для выбора роли -->
    <div class="role-selection" id="role-selection" style="display: none;">
        <h2>Выберите роль:</h2>
        <div class="radio-buttons">
            <label>
                <input type="radio" name="mode" value="Student" checked> Студент
            </label>
            <label>
                <input type="radio" name="mode" value="Teacher"> Преподаватель
            </label>
        </div>
    </div>

    <!-- Контроллеры для ввода дополнительных данных -->
    <div class="additional-info" id="additional-info" style="display: none;">
        <div class="student-info" id="student-info">
            <label for="groupInput">Номер группы:</label>
            <input type="text" id="groupInput" placeholder="Введите номер группы">
        </div>
        <div class="teacher-info" id="teacher-info" style="display: none;">
            <label for="teacherInput">Фамилия преподавателя:</label>
            <input type="text" id="teacherInput" placeholder="Введите фамилию преподавателя">
        </div>
    </div>

    <!-- Кнопка "Загрузить" -->
    <button id="submit-button" style="display: none;">Загрузить</button>

    <!-- Блок для отображения загруженного документа -->
    <div class="uploaded-document" id="uploaded-document" style="display: none;">
        <h2>Загруженный документ:</h2>
        <div class="document-info">
            <p><strong>Первый выбор:</strong> <span id="role-display"></span></p>
            <p><strong>Второй выбор:</strong> <span id="additional-info-display"></span></p>
            <p><strong>Документ:</strong> <span id="file-name-display"></span></p>
            <a href="#" id="download-link" download>Скачать документ</a>
        </div>
    </div>
</div>