<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Schedule</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Schedule.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <div class="nav">
            <div class="logo"><img class="logo_img" src="~/Images/LogoProject1.jpg" alt="Logo Image"></div>
            <ul class="nav_list">
                <li class="nav_list_item"><a class="nav_list_item_link" asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                <li class="nav_list_item"><a class="nav_list_item_link" asp-area="" asp-controller="Home" asp-action="Authors">Authors</a></li>
                <li class="nav_list_item"><a class="nav_list_item_link" asp-area="" asp-controller="Home" asp-action="My Table">My table</a></li>
            </ul>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer>
        <div class="footer_content">
            <div class="footer_links">
                <a href="https://web.telegram.org/a/#1055217763" target="_blank">Telegram</a>
                <a href="tel:+1234567890">+375336303655</a>
            </div>
            <div class="footer_images">
                <img src="~/Images/footer_image1.jpg" alt="Footer Image 1">
                <img src="~/Images/footer_image2.jpg" alt="Footer Image 2">
            </div>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
